img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

.HomeBG {
    background-color: #151719;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.color-nav {
    background-color: #151719;
}

.divHome {
    padding-top: 9vh;
    padding-left: 2vw;
    color: whitesmoke;
}

.navbar-brand {

    margin-left: -4vw;
}

.span-textColor {
    text-transform: uppercase;
    float: left;
    padding-left: 2vw;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 7em;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.navbar-link {
    font-weight: bold;
    font-style: oblique;
}

.gradient-custom {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.Profile-Text-Color {
    color: black;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}